<mat-toolbar color="primary" >
    <button mat-icon-button >
        <mat-icon>menu</mat-icon>
    </button>
    <span><strong>Test</strong>Labs</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with icon">
        <mat-icon>person</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with icon">
        <mat-icon>settings</mat-icon>
    </button>
</mat-toolbar>

<!-- <mat-sidenav-container>
    (click)="sidenav.toggle();"
    <mat-sidenav #sidenav>
        <mat-nav-list>
            <a mat-list-item href="#"><mat-icon>photo_camera</mat-icon> Photos</a>
            <a mat-list-item href="#"><mat-icon>videocam</mat-icon> Videos</a>
            <a mat-list-item href="#" class="activate"><mat-icon>push_pin</mat-icon> Pinned</a>
            <a mat-list-item href="#"><mat-icon>schedule</mat-icon> Recents</a>
            <a mat-list-item href="#"><mat-icon>cloud_upload</mat-icon> Uploads</a>
         </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 88vh;">
            <router-outlet>

            </router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container> -->
