<div style="height: 88vh;">
    <mat-nav-list>
        <a mat-list-item ><mat-icon>photo_camera</mat-icon>Photos</a>
        <a mat-list-item ><mat-icon>videocam</mat-icon>Videos</a>
        <a mat-list-item  class="activate"><mat-icon>push_pin</mat-icon>Pinned</a>
        <a mat-list-item ><mat-icon>schedule</mat-icon>Recents</a>
        <a mat-list-item ><mat-icon>cloud_upload</mat-icon>Uploads</a>
    </mat-nav-list>
    
    <div fxLayout="column" fxLayoutAlign="end end">
        <button mat-raised-button color="primary" style="border-radius: 25px;"><mat-icon>add</mat-icon>  New album</button>
    </div>
</div>